*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', 'sans-serif';

}

html {
    scroll-behavior: smooth;
}

.center
{
    max-width: 1400px;
    margin: 0 auto;
}
.flexbox
{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
}


@keyframes anim1 {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes anim2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* 
header
{

    background-image:url(../img2/yellowGirl.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
} */
nav
{
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.65);
    padding:30px 2%;
    color: white;
    width:100%;

}

.center2
{
    max-width: 1000px;

}



.title
{
    display: flex;
    gap: 10px;
}
.logo
{
    /* height: 5%;
    width: 5%; */
    width:32px;
    /* height:32px; */
    background: none;

    /* background-color: #ff992b; */
}

.logo img
{
    /* height: 100px;%; */
    width:100%;
    /* background-color: #2bff39; */
    background: none;
    border-radius:15%;

}


.sticky
{
  position: fixed;
  top: 0;
  width: 100%;

}

.nav-menu
{
    width: 60%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition-duration: 200ms;
    transition-property: transform, letter-spacing, text-shadow;
    display: inline-block;
    color:white;
}

nav h3{
    font-weight:bold;
    font-size: 20px;


}



nav a:hover {
    transform: scale(1.5);
    letter-spacing: 2px;
    text-shadow: 5px 5px 5px white;
}

nav a:active {
    font-weight: 700;
}



/* statttttttttttttttttttttt */





header nav .navMenu {
    width: 60%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav .navMenu li {
    padding-top: 1px;
}

header nav .navMenu a {
    font-size: 18px;
    font-weight: 600;
    transition-duration: 200ms;
    transition-property: transform, letter-spacing, text-shadow;
    display: inline-block;
}

header nav .navMenu a:hover {
    transform: scale(1.5);
    letter-spacing: 2px;
    text-shadow: 5px 5px 5px white;
}

header nav .navMenu a:active {
    font-weight: 700;
}

/* Section 9 Starts Here */
#sec9 {
    background-color: #2a3b40;
    /* position: relative;
    top: 50px; */
    
}

#sec9 .bgOpacity {
    padding: 60px 0 100px 0;
    background-color: rgba(255, 255, 255, 0.8);
}

#sec9 .writing
{
    text-align: center;
    /* background-color: aqua; */

}
#sec9 h1 {
    padding-top: 70px;
    font-family: 'Cookie';
    font-size: 70px;
    font-weight: 200;
    text-align: center;
    color: #304751;
}

#sec9 h2 {
    color: #ad6c12;
    font-size:19px;
    font-weight:600;
    /* text-align:center; */
    line-height: 30px;
    /* width: 50%; */

}

#sec9 .flexBox {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-between;
    /* gap: 20px; */
    margin-top: 50px;
}

#sec9 .box {
    width:20%;
    background-color: white;
    box-shadow: 3px 3px 7px gray;
    padding-bottom:30px ;
    text-align: center;
}

#sec9 hr {
    border: 1px solid #bdbdbd;
    /* border-top: 10px solid red; */

}



#sec9 .box img {
    width: 100%;
}

#sec9 .box .text {
    padding: 20px;
}


#sec9 .box h3 {
    font-size:25px;
    font-weight:bold;
    color: #4f4e4e;
    margin-top: 25px;
    margin-bottom:10px;
}


#sec9 .box h5 {
    font-size:13px;
    font-weight:400;
    color: #4f4e4e;
    margin-top: 15px;
    /* margin-bottom:10px; */
}

#sec9 .box h5 span{
    font-size:23px;
    font-weight:bold;
    /* color: #4f4e4e;
    margin-top: 15px;
    margin-bottom:10px; */
}

#sec9 .box h4 {
    font-size:20px;
    color: #555555;
    font-weight: 500;
    padding-top: 20px;
}


#sec9 .box p {
    font-size: 14px;
    color: #4f4e4e;
    line-height: 22px;
    margin-top: 10px;
}


#sec9 .box button {
    margin-top: 25px;
    border: none;
    width: 240px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
    /* background: none; */
    font-size: 18px;
    font-weight: 700;
    color: #555555;
    /* color: #fff; */
    background-color:#ff992b ;
    font-size:15px;
    font-weight:bold;

    /* border: 2px solid #ff992b; */
}

#sec9 .box button:hover {
    background-color: lightgray;
    /* opacity:0.8; */

}
/* Section 9 Ends Here */



/* Website Footer Starts Here */
footer {
    background-color: #2a3b40;
    /* color: #2d2f2a; */
    color: #fff;
}

footer .bgOpacity {
    background-color: rgba(42,59,64,0.5);
    padding: 80px 0;
}

footer .flexBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

footer .big {
    width: 40%;
}

footer .small {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

footer .box {
    width: 30%;
    
}

footer .big h3 {
    font-size: 20px;
}

footer .big p {
    font-size: 15px;
    line-height: 25px;
    margin-top: 30px;
}

footer .box h4 {
    font-size: 17px;
    margin-bottom: 30px;
}

footer .box p {
    font-size: 17px;
    margin-top: 10px;
    font-weight: 600;
}
/* Website Footer Ends Here */















